<% @ads.each  do |ad| %>
  <div class="col-md-3">
    <div class="thumbnail">
       <h5><%= link_to ad.name, ad %></h5>
       <%= image_tag ad.image ,class: "img-responsive" %>  
        <div class="caption">
          <small><p class="text-right">Stock code: </p></small>  
          <h6 class="text-danger" >from £ </h6>
        </div>
    </div>
  </div>

<% end %> 